/*start default styles */
@import url(./variables.css);
@import url(./fonts.css);

html {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 10px;

}

body {

    font-family: var(--primary-font);
    font-size: 1.4rem;
    background-color: var(--body-bgColor);
    color: var(--white-color);
    direction: rtl;
    font-family: 'IRANSans';
    line-height: 1.6;
    font-size: 1.6rem;
    margin: 0 auto;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    outline: none;

}

a {
    text-decoration: none;


    transition: all 300ms ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

i {
    user-select: none;
}

/*finish default styles */
.header {
    background: linear-gradient(rgba(47, 48, 65, 0.843), rgba(47, 48, 65, 0.843)), url("../images/mainPageImages/background-header-scaled-min.jpg");
    background-position: 15% 27%;
    opacity: 1;
    background-size: cover;

}

/*

start header styles

/*start top header styles */
.top-header {
    background: rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.top-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header__menu {
    display: flex;
    align-items: center;
}

.top-header__menu-item {
    margin: 0 0.7rem
}

.top-header__menu-item:first-child {
    margin-right: 0
}

.top-header__menu-item:last-child {
    margin-left: 0
}

.top-header__menu-link {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.3rem;
    font-family: 'IRANSans-400';
}

.top-header__menu-link:hover {
    color: var(--white-color);
}

.top-header__social-infos {
    display: flex;
    align-items: center;
}

.top-header__gmail {
    font-family: 'IRANSans-900';
}

.top-header__social-icons {
    display: flex;
    margin-right: 0.7rem;
    align-items: center;
}

.top-header__social-icons__link {
    margin: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-header-social-icons__img {
    width: 1.2rem;
    height: 1.2rem;
}

/*finish top header styles */

/*start main-header styles */

.main-header__logo {
    width: 7rem;
    height: 4.2rem;
    background-size: cover;
    margin-left: 1rem;

}

.main-header__logo-img {
    width: 100%;
    height: 100%;
}





.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    padding: 0.7rem 0;

}

.main-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-header__right {
    display: flex;
}

.main-header__menu {
    display: flex;

}

.main-header__item {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;


}

.main-header__link {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--white-color);
    text-align: center;
    font-size: 1.28rem;
    font-family: 'IRANSans-400';



}

.fa-angle-down {
    text-align: center;
    margin-right: 0.5rem;
}

.Popular {
    padding: 0.1rem 0.5rem;
    background-color: var(--primary-color);
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;


}


.main-header__dropwond::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #15151d;
    position: absolute;
    transform: translateY(-1.4rem) translateX(-1rem)rotate(45deg);
}

.main-header__dropwond {
    background-color: #15151d;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    position: absolute;
    top: 4.5rem;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    width: 24rem;
    z-index: 1;
    padding: 1rem 0;
    border-bottom: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    font-family: 'IRANSans-400';


}

.box {
    position: relative;
}

.main-header__dropwond-link {
    color: var(--white-color);
    font-size: 80%;
    transition: all 400ms ease;

}

.box:hover .main-header__dropwond {
    opacity: 1;
    visibility: visible;
    top: 2.5rem;
}


.main-header__dropwond-item {
    padding: 0.5rem 1rem;
}






/*start searchbox styles */

.main-header__search {
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 10rem;
    overflow: hidden;
}

.searchform {
    background-color: initial;
}

.main-header__search--content {
    margin: 0 0.5rem;
}

.main-header__serchbox {
    background-color: initial;
    border: none;
    color: var(--white-color);
    padding: 0.8rem 0rem;
    font-size: 1.5rem;

}

.main-header_serch--icon {
    margin-left: 0.5rem;
}


/*finish searchbox styles */


/*start main-header__left styles */


.main-header__left {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-header__Profile-link {
    font-size: 1.28rem;
    font-family: 'IRANSans-200';
    color: var(--white-color);
}

.porfile__btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    position: relative;
    background-color: var(--secondary-on-bgColor);
    transition: all 0.7s ease;

}


.Profile__icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.main-header__dropwond--porfile::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #15151d;
    position: absolute;
    transform: translateY(-1.4rem) translateX(-1069%)rotate(45deg);
}


.main-header__dropwond--porfile {
    background-color: #15151d;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    position: absolute;
    top: 3.5rem;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    width: 24rem;
    z-index: 1;
    padding: 1rem 0;
    border-bottom: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(60%);
    font-family: 'IRANSans-400';
}

.main-header__dropwond-item--porfile {
    padding: 0.5rem;
}

.main-header__dropwond-link--porfile {
    padding: 0.5rem;
    display: block;
    color: var(--white-color);
    font-size: 80%;
}


.porfile__btn:hover .main-header__dropwond--porfile {
    opacity: 1;
    visibility: visible;
    top: 3.5rem
}

.porfile__btn:hover {
    background-color: var(--secondary-bgColor);


}


.main-header__cart-link {

    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.Profile__text {
    color: var(--white-color);
}

.Profile__text:hover {
    color: var(--white-color);
}

.cart-img-icon {
    width: 100%;
    height: 100%;
}




/*finish main-header__left styles */

/*finish main-heade styles */


/*start landing styles */

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__conteant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.landing-header__titele {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-family: 'IRANSans-400';
    margin-bottom: 3.16rem;
    text-align: center;
    padding: 0;
    height: 10rem;
    max-width: 65%;

}



.landing-header__search {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    max-width: 65%;
}








.landing-header__search {
    background-color: hsla(0, 0%, 100%, .2);
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-header__serchbox {
    background-color: initial;
    width: 95%;
    height: 4rem;
    font-size: 2rem;
    border: none;
    color: var(--white-color);
    font-family: 'IRANSans-400';

}



.landing-header_serch--icon {

    color: var(--white-color);
    font-weight: bolder;
    font-size: 2.8rem;
    background-color: initial;
}

.landing-header__down {
    margin-top: 3rem;
    margin-bottom: 2rem;

}

.landing--down {
    font-size: 3.5rem;
    color: hsla(0, 0%, 100%, 0.568);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


.landing--down:hover {
    color: var(--white-color);
}


/*finish landing styles */


/*start courses styles */
.courses {
    width: 100%;
    margin-top: 10rem;
    

}

.courses__conten {
    display: flex;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem ;

}


.courses__item {
    width: 25rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #2F3041;
    overflow: hidden;
    border-radius: 1rem;
}

.courses__img--content {
    height: 14rem;
    width: 100%;
    background-size: cover;

}

.courses__img--content img {
    width: 100%;
    background-size: cover;
}




.courses__Information {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

}

.courses__titele--content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;


}

.courses__titele {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-on-bgColor);
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: var(--white-color);
    font-family: 'IRANSans-400';
    border-radius: 10rem;
}


.courses__caption {
    margin-top: 1.5rem;
    font-family: 'IRANSans-400';
    color: var(--white-color);
    font-size: 1.5rem;
    text-align: center;


}


.courses__info--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem  0;
    font-family: 'IRANSans-900';
    font-size: 1.2rem;
}

.courses__price {}

.courses__Number {
    color: #cdb187;
}

.courses__caption--bottom {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-family: 'IRANSans-900';
    font-size: 1.2rem;

}

.courses__Student {}


/*end courses styles */