/*start default styles */
@import url(./variables.css);

html {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 1.4rem;
    background-color: var(--body-bgColor);
    color: var(--white-color);
    direction: rtl;
    font-family: 'IRANSans';
    line-height: 0.16;
    font-size: 1.6rem;
    overflow: hidden;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    outline: none;

}

a {
    text-decoration: none;


    transition: all 300ms ease-in-out;

    color: var(--dark-color);
    transition: all 400ms ease-in-out;
}

a:hover {
    color: var(--primary-color);

}

i {
    user-select: none;
}


/*finish default styles */
.header {
    background: linear-gradient(rgba(47, 48, 65, 0.843), rgba(47, 48, 65, 0.843)), url("../images/mainPageImages/background-header-scaled-min.jpg");
    background-position: 15% 27%;
    opacity: 1;
    background-size: cover;

}






/*start main-header styles */

.main-header__logo {
    width: 7rem;
    height: 4.2rem;
    background-size: cover;
    margin-left: 2rem;

}

.main-header__logo-img {
    width: 100%;
    height: 100%;
}





.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-header__right {
    display: flex;
}

.main-header__menu {
    display: flex;

}

.main-header__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.main-header__link {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    color: var(--white-color);
    text-align: center;
    font-size: 1.28rem;

}

.fa-angle-down {
    text-align: center;
    margin: auto 0.5rem;
}

.Popular {
    padding: 0.6rem;
    background-color: var(--primary-color);
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;


}


.main-header__dropwond::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #15151d;
    position: absolute;
    transform: translateY(-1.4rem) translateX(-1rem)rotate(45deg);
}

.main-header__dropwond {
    background-color: #15151d;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    position: absolute;
    top: 3.5rem;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    width: 24rem;
    z-index: 1;
    padding: 1rem 0;
    border-bottom: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;



}

.main-header__dropwond-link {
    color: var(--white-color);
    font-size: 80%;
    transition: all 400ms ease;

}

.main-header__item:hover .main-header__dropwond {
    opacity: 1;
    visibility: visible;
    top: 3.5rem;
}


.main-header__dropwond-item {
    padding: 1.5rem 1rem;
}

.main-header__dropwond-item:first {
    padding: 0 1rem;
}





/*start searchbox styles */

.main-header__search {
    background-color: var(--dark-color);
    border-radius: 10rem;
    overflow: hidden;
}

.searchform {
    background-color: initial;
}

.main-header__search--content {
    margin: 0 0.5rem;
}

.main-header__serchbox {
    background-color: initial;
    border: none;
    color: var(--white-color);
    padding: 0.8rem 0rem;
    font-size: 1.5rem;

}

.main-header_serch--icon {
    margin-left: 0.5rem;
}


/*finish searchbox styles */


/*start main-header__left styles */


.main-header__left {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-header__Profile-link {
    font-size: 1.28rem;
    font-family: 'IRANSans-200';
    color: var(--white-color);
}

.porfile__btn {
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    position: relative;
    background-color: var(--secondary-bgColor);
    transition: all 0.7s ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.Profile__icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.main-header__dropwond--porfile::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #15151d;
    position: absolute;
    transform: translateY(-1.4rem) translateX(-1069%)rotate(45deg);
}


.main-header__dropwond--porfile {
    background-color: #15151d;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    position: absolute;
    top: 3.5rem;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    width: 24rem;
    z-index: 1;
    padding: 1rem 0;
    border-bottom: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(60%);
}

.main-header__dropwond-item--porfile {
    padding: 1rem;
}

.main-header__dropwond-link--porfile {
    padding: 0.5rem;
    display: block;
    color: var(--white-color);
    font-size: 80%;
}


.porfile__btn:hover .main-header__dropwond--porfile {
    opacity: 1;
    visibility: visible;
    top: 3.5rem
}

.porfile__btn:hover {
    background-color: #004e8a;

}


.main-header__cart-link {

    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.cart-img-icon {
    width: 100%;
    height: 100%;
}

/*finish main-header__left styles */

/*finish main-heade styles */