@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IranNastaliq&Help-fontyab.com/IRANSans.ttf');
}
