:root {
    --primary-bgColor:#2F3041;
    --body-bgColor:#242532;
    --secondary-bgColor:#1975BD;
    --secondary-on-bgColor:#2196f3;
    --white-color: #fff;
    --primary-font: 'IRANSans-200';
    --primary-color: #2bce56;
    --white-color: #fff;
    --dark-color: #464749;

}